
{{#partial "content"}}

    <div  style="padding-top:60px;  margin-top:300px; margin-left:130px;height:400px;font-family: 'Playfair Display', serif;, cursive;font-size:2.6em;" class="well">
        <p1> Organization isn't about perfection; it's about efficiency, reducing stress and clutter, saving time and money and improving your overall quality of life.<br> <h3>~Christina Scalise</h3></p1>
    </div>


{{/partial}}

{{> layout.hbs}}