{{#partial "content"}}

    {{#if news}}
        {{#each news}}

            <div class="well" style="text-align:center">
                <small style=" text-align:center"> ~For every minute spent organizing, an hour is earned~  </small><br><br>

                <p> News Header: {{ header }} </p>
                <p> Information: {{ content }} </p>
                <p> Said by: {{ author }} </p>
            </div>

        {{else}}

            <h1>blah blah</h1>


        {{/each}}
    {{/if}}


{{/partial}}

{{> layout.hbs}}